.fileType-checkbox-Div {
    word-wrap: break-word;
    width: 1w00%;
    overflow: auto;
    height: calc(100% - 50px);
}

.columnFileTypesDiv {
    height: inherit;
}

#selectAll {
    margin: 15px 0 0 15px;
}

.groupCheckboxDiv {
    margin-left: 35px;
}

.confimation-msg {
    margin-top: 15px;
}

a {
    color: #333;
}

input[type="checkbox"] {
    margin-right: 5px !important;
}

.headerStyles {
    font-family: OpenTextSans;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    height: 48px;
    display: table-cell;
    padding-top: 15px;
}

.headerLeftDiv {
    padding-left: 24px;
    border-bottom: 1px solid #e2e2e2;
    width: inherit;
}

.columnFileTypesDivRight {
    padding: 0px 24px 24px 24px;
    border-left: 1px solid #e2e2e2;
}

.FileBB-error-message{
    color: #df3324;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}