@font-face {
	font-family: OpenTextSans;
	src: url(cws/style/fonts/OpenTextSans_W_Lt.woff2) format('woff2'),
		 url(cws/style/fonts/OpenTextSans_W_Lt.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: OpenTextSans;
	src: url(cws/style/fonts/OpenTextSans_W_Rg.woff2) format('woff2'),
		 url(cws/style/fonts/OpenTextSans_W_Rg.woff) format('woff');
	font-weight: 400;
	font-style: normal;
} 
@font-face {
	font-family: OpenTextSans;
	src: url(cws/style/fonts/OpenTextSans_W_Bd.woff2) format('woff2'),
		 url(cws/style/fonts/OpenTextSans_W_Bd.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
.otmodal-dialog {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100vw - 4rem);
	min-width: 15rem;
	max-width: 56.25rem;
	margin-top: 2rem;
	height: calc(100vh - 8rem);
	overflow: hidden;
	border-radius: 0;
	background-color: #ffffff;
	padding: 0;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.33);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 1072;
}
.dialog {
	width: 100%;
	height: 100%;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #000000;
	opacity: 0.7;
}
.backdrop ~ .backdrop {
	opacity: 0;
}
.dialog .dialog-header {
	border-bottom: 0.0625rem solid #a9a9a9;
	background-color: #f5f5f5;
	height: 3.5rem;
	padding: 1rem 1.5rem;
	display: flex;
}
.dialog .dialog-header .dialog-title {
	width: 100%;
	font-size: 1.5rem;
	line-height: 1;
	color: #333333;
	white-space: nowrap;
}
.dialog .dialog-body {
	padding: 0;
	height: calc(100% - 7.5rem);
	background-color: #ffffff;
	border-bottom: 0.0625rem solid #a9a9a9;
	overflow: auto;
}
.detail-error {
	padding: 0rem 1.5rem;
}
.dialog .dialog-body .fill-height + .fill-height {
	border-left: 1px solid #a9a9a9;
}
.column-layout > div {
	float: left;
}
.dialog .dialog-body .details-view {
	padding: 1rem 1.5rem;
}
.dialog .dialog-footer {
	float: right;
	padding: 1rem;
	background-color: #f5f5f5;
	height: 4rem;
	padding-left: 100%;
	white-space: nowrap;
	user-select: none;
}
.button.button-primary, .button.button-secondary {
	min-width: 5rem;
	height: 2rem;
	padding: 0 1.5rem;
	font-size: 0.8125rem;
	border: 1px solid;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
}
.details-view .button.button-primary, .details-view .button.button-secondary {
	margin-top: 0.125rem;
}
.button.button-primary {
	background-color: #232e72;
	border-color: #232e72;
	color: #ffffff;
}
.button.button-primary:focus {
	outline: 1px dotted #333333;
	outline-offset: 1px;
}
.button.button-primary:hover {
	border-color: #171f4c;
	background-color: #171f4c;
}
.button.button-primary:active {
	border-color: #2e3d98;
	background-color: #2e3d98;
}
.button.button-primary.disabled, .button.button-primary[disabled],
.button.button-primary.disabled:hover, .button.button-primary[disabled]:hover {
	border-color: #999999;
	background-color: #999999;
	cursor: not-allowed;
}
.button.button-secondary {
	border-color: #232e72;
	background-color: #ffffff;
	color: #232e72;
}
.button.button-secondary:focus {
	outline: 1px dotted #333333;
	outline-offset: 1px;
}
.button.button-secondary:hover {
	border: 1px solid #171f4c;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(23,31,76,1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(23,31,76,1);
	box-shadow: inset 0px 0px 0px 1px rgba(23,31,76,1);
}
.button.button-secondary:active {
	border-color: #2e3d98;
	color: #2e3d98;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.button-secondary.disabled, .button.button-secondary[disabled],
.button.button-secondary.disabled:hover, .button.button-secondary[disabled]:hover {
	border-color: #999999;
	color: #999999;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
}
.button::-moz-focus-inner {
	border: 0;
}
.dialog .dialog-footer > .button {
	margin: 0 0.5rem;
}
.dialog .dialog-footer .checkbox-label {
	margin: 0 0.5rem;
	vertical-align: middle;
}
.dialog .dialog-footer .checkbox-label span {
	color: #333333;
	margin-left: 0.5rem;
	font-size: 0.8125rem;
}

.otmodal-dialog.dialog-size-large {
	max-width: 75rem;
	height: calc(100vh - 8rem);
}
.otmodal-dialog.dialog-size-full {
	max-width: 100%;
	height: calc(100vh - 4.5rem);
	width: 100%;
	top: 51%;
}
.otmodal-dialog.dialog-size-small {
	max-width: 37.5rem;
	height: calc(100vh - 24rem);
	max-height: calc(100vh - 8rem);
}
@media (max-width: 1920px) {
	.otmodal-dialog.dialog-size-small {
		height: calc(100vh - 20rem);
	}
}
@media (max-width: 1200px) {
	.otmodal-dialog.dialog-size-small {
		height: calc(100vh - 16rem);
}
}
@media (max-width: 1024px) {
	.otmodal-dialog.dialog-size-small {
		height: calc(100vh - 13rem);
	}
}
@media (max-width: 800px) {
	.otmodal-dialog.dialog-size-small {
		height: calc(100vh - 10rem);
	}
}

.otmodal-dialog.dialog-size-large.side-panel {
	width: 67.5rem;;
	max-width: 67.5rem;;
	min-width: 67.5rem;;
}

.otmodal-dialog.dialog-size-medium.side-panel {
	width: 688px;
	max-width: 688px;
	min-width: 688px;
}

.otmodal-dialog.side-panel {
	left: unset;
	margin: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition-delay: 0s;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	transition: transform .3s,-webkit-transform .3s,width .3s;
}

.side-panel .dialog .dialog-header {
	background-color: #66D4D6;
	height: 64px;
	display: flex;
	padding: 0;
}

.side-panel .dialog .dialog-header .dialog-title {
	width: 95%;
	padding: 1rem 1.5rem;
}
.side-panel .dialog .dialog-header .dialog-title.back-button-spacing {
	padding: 1rem 0.5rem;
}

.dialog-header .close-icon,
.sidepanel-taskbar-header .taskbar-close-icon {
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M9.00001 9L16 16M16 16L9 23M16 16L23 23M16 16L23 9.00001' stroke='%23333333' stroke-width='1.8' stroke-linecap='round'/%3E%3C/svg%3E");
	margin: -5px -5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.side-panel .dialog-header .close-icon,
.sidepanel-taskbar-header .taskbar-close-icon  {
	margin: 12px 12px;
}
.side-panel .dialog-header .back-icon {
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%23333333;%7D .st2%7Bfill:none;stroke:%232E3D98;%7D%0A%3C/style%3E%3Cpath id='metaphor' class='st1' d='M24,15.021H11.014l6.146-5.588L15.796,8L7,16.001L15.796,24l1.364-1.433l-6.15-5.59H24 c0.553,0,1-0.438,1-0.978S24.553,15.021,24,15.021z'/%3E%3C/svg%3E");
	margin: 14px 0 12px 12px;
	border: none;
	outline: none;
	cursor: pointer;
}

.otmodal-dialog.z-index-max {
	z-index: 1000;
}

.sidepanel-container {
	width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto ! Important;
    background: rgba(0, 0, 0, .7);
    padding: 0;
}